{% extends 'base.html'%}
{% block content %}
    <h1>STOCK PREDICTION</h1>
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Company Name
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'stock' 'ADBL' %}">ADBL</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'CZBIL' %}">CZBIL</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'EBL' %}">EBL</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'GBIME' %}">GBIME</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'HBL' %}">HBL</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'KBL' %}">KBL</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'LSL' %}">LSL</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'MBL' %}">MBL</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'NABIL' %}">NABIL</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'NBL' %}">NBL</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'NICA' %}">NICA</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'NIMB' %}">NIMB</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'NMB' %}">NMB</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'PCBL' %}">PCBL</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'PRVU' %}">PRVU</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'SANIMA' %}">SANIMA</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'SBI' %}">SBI</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'SBL' %}">SBL</a></li>
<li><a class="dropdown-item" href="{% url 'stock' 'SCB' %}">SCB</a></li>

  </ul>
</div>
{% endblock%}