{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center">{{ stock_name }}</h2>
        
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>

                    <th>Lasso Predicted Value</th>
                    <th>pca Predicted Value</th>

                </tr>
            </thead>
           <tbody>
    <tr>
        <td>{{ date }}</td>
        <td>{{ lasso_predicted_value }}</td>
        <td>{{pca_predicted_value}}</td>
    </tr>
</tbody>

        </table>
    </div>
{% endblock %}
